#questionsAndAnswers{
	margin-left:25%; 
	height:150px;
	width:50%;
	overflow;
}
#patternContainer{
	text-align:center; 
}
#containerOfResult{
	display:inline-flex;
    width:;
	height:172px;
}
#promptOfResultOfGetQuestionsNumbers,
#promptOfResultOfAnswers,
#promptOfResultOfGetQuestions,
#promptOfResultOfChoices{
}
label{
	flex-direction:column;
}
text{
	width:100px;
	height:20px;
}
textarea.item1{
	width:100px;
	height:150px;
	overflow;
}
textarea.item2{
	width:250px;
	height:150px;
	overflow;
}