body{
	background-color:#271c11;
	color:white;	
}
#questionsAndAnswersContainer{
	text-align:center;
	width: 100%;
}
#questionsAndAnswers{
	height:150px;
	width:95%;
	overflow:auto;
}
#patternContainer{
	display:flex;
	flex-direction:column;
	width:100%;
	font-size:120%;	
	align-items:center;
}
#containerOfResult{
	font-size: 120%;
}
.choose{	
	font-size:120%;
	background-color:#ffc300e3;
	font-weight:bold;
	width: 65%;
}
.button{
	font-size:120%;
	font-weight:bold;
	cursor: pointer;
	margin: 4px;
}
.button:hover{
	background-color:lightgreen;
}
.button:active{
	background-color:lightblue;
}
.flex-column{
	display:inline-flex;
	flex-direction:column;
}
.texebox{
	background-color:#eaa5a5;
}
.correctAns{
	color:green;
}
.wrongAns{
	color:red;
}

.saveLoadContainer, .logOut {
	display: flex;
	justify-content: center;
	width: inherit;
	font-size: 120%;
}

.local, .cloud {
	flex: 0 0 45%;
}
.centerTitle {
	text-align: center;
}
.noWrap {
	white-space: nowrap;
}
table {
	display: flex;
	flex-direction: column;
}

.hide {
	display: none;
}