body{
	background-color:black;
	color:white;
}
#questionsAndAnswersContainer{
	text-align:center;
}
#questionsAndAnswers{
	background-color:lightgray;
	height:150px;
	width:90%;
	overflow:auto;
}
#patternContainer{
	display:flex;
	flex-direction:column;
	height:auto;
	width:80%;
	font-size:150%;
	margin-left: 5%;
	align-items:center;
}
.choose{
	width:auto;
	font-size:120%;
	background-color:#c4a96e;
}
.button{
	font-size:120%;
}
.button:hover{
	background-color:lightgreen;
}
.button:active{
	background-color:lightblue;
}
#containerOfResult{
	margin-left: 5%;
}
.flex-column{
	display:inline-flex;
	flex-direction:column;
}
.text{
	font-size:120%;
	width:auto;
	height:auto;
}
.item1{
	width:120PX;
	height:150PX;
	overflow:auto;
	background-color:lightgray;
}
.item2{
	width:450px;
	height:150px;
	overflow:auto;
	background-color:lightgray;
}
table{
	margin-left: 5%;
	width:90%;
	height:auto;
}
li{
	overflow:auto;
}
